@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-CondensedItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('~/assets/fonts/MyriadPro-BoldSemiCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
